[submodule "third-party/googletest"]
	path = third-party/googletest
	url = git@github.com:google/googletest.git
[submodule "third-party/doxygen-awesome-css"]
	path = third-party/doxygen-awesome-css
	url = git@github.com:jothepro/doxygen-awesome-css.git
[submodule "third-party/SFML"]
	path = third-party/SFML
	url = git@github.com:SFML/SFML.git
[submodule "third-party/json"]
	path = third-party/json
	url = https://github.com/nlohmann/json.git
[submodule "third-party/asio"]
	path = third-party/asio
	url = https://github.com/chriskohlhoff/asio
